name: Build all aur package

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        repos:
          - baidunetdisk-bin
          - dingtalk-bin
          - hysteria-bin
          - localsend-bin
          - visual-studio-code-bin
          - wechat-universal-bwrap
          - wemeet-bin
          - opencode-bin
          - opencode-desktop-bin
          - claude-code
          # - clash-verge-rev-autobuild-bin
          # - intellij-idea-ultimate-edition
          # - mailspring

      fail-fast: false

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build package ${{ matrix.repos }}
        uses: ./build-aur-action
        with:
          repo: ${{ matrix.repos }}
          packager: ${{ secrets.PACKAGER_NAME }}

      - name: Cache package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.repos }}
          path: ./${{ matrix.repos }}/*.pkg.tar.zst
        
  clean-old-packages:
    needs: build
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - uses: ./clean-old-packages-action
        with:
          aws-bucket: ${{ secrets.AWS_BUCKET }}
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-endpoint: ${{ secrets.AWS_ENDPOINT }}

  generate-repo:
    needs: clean-old-packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download all built packages
        uses: actions/download-artifact@v4
        with:
          path: ./packages

      - name: Move packages into repo folder
        run: |
          mkdir repo
          find ./packages -name '*.pkg.tar.zst' -exec cp {} ./repo/ \;

      - name: Generate pacman repo database
        uses: ./generator_database
        with:
          database: self
          path: ./repo
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - uses: shallwefootball/s3-upload-action@master
        with:
          endpoint: ${{ secrets.AWS_ENDPOINT }}
          aws_key_id: ${{ secrets.AWS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws_bucket: ${{ secrets.AWS_BUCKET }}
          source_dir: ./repo
          destination_dir: repo/


